
    <section id="about" class="docs">
        <div class="container">
            <div class="docs-inner">
                <h2 class="title">O servisu</h2>

                <h3 class="sub-title">Šta je "Da ne bude kasno"?</h3>

                <p class="text-justify">
                    "Da ne bude kasno" je servis za dobijanje informacija da li se, i u koje vreme,
                    neka adresa stanovanja nalazi na listi planiranih isključenja električne energije
                    za područje grada Beograda. Za svoj rad koristi informacije koje se javno objavljuju
                    na <a href="http://www.epsdistribucija.rs/index.php/planirana-iskljucenja/planirana-bgd" target="_blank">zvaničnom sajtu Elektrodistribucije Beograd (EDB)</a>.
                </p>

                <h3 class="sub-title">Obaveštenja putem email-a</h3>

                <p class="text-justify">
                    Sve adrese koje su prijavljene za dobijanje obaveštenja putem email-a se svakodnevno proveravaju,
                    kako bi korisnici koji su ih prijavili bili na vreme bili upozoreni da se njihova adresa nalazi
                    na listi planiranih isključenja električne energije, za određeni dan i period.
                </p>

                <h3 class="sub-title">Mobilna aplikacija</h3>

                <p class="text-justify">
                    Servis "Da ne bude kasno" je dostupan i u vidu mobilne aplikacije, koja pored provere na zahtev,
                    omogućava automatsku proveru i obaveštavanje korisnika o planiranim isključenjima.
                </p>
                <p class="text-center">
                    <a href="https://play.google.com/store/apps/details?id=rs.in.nikolaposa.dnbk&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                        <img alt="Preuzmi na Google Play" src="<?php echo $this->asset('/img/en-play-badge.png'); ?>">
                    </a>
                </p>
            </div>
        </div>
    </section>

