
    <section id="api">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">API</h2>
                    <p>
                        &quot;Da ne bude kasno&quot; na raspolaganje stavlja i API, putem kojeg se mogu koristiti
                        neke od funkcionalnosti ovog servisa. Rezultati API poziva su u JSON formatu.
                    </p>

                    <h2>Provera</h2>
                    <p>
                        API metod putem kojeg je moguće vršiti proveru da li se adresa nalazi na nekoj od lista
                        planiranih isključenja električne energije:
                    </p>
                    <pre>http://danebudekasno.nikolaposa.in.rs/api/check</pre>

                    <h3>Parametri</h3>
                    <ul>
                        <li>
                            <code>address</code> - objekat sa informacijama o adresi:
                            <ul>
                                <li><code>street</code> - naziv ulice</li>
                                <li><code>number</code> - broj ulice</li>
                            </ul>
                        </li>
                        <li><code>date</code> - validan datum za koji treba izvršiti proveru <span class="label label-default">opciono</span></li>
                        <li><code>day</code> - dan za koji treba izvršiti proveru (0, 1, 2, 3) <span class="label label-default">opciono</span></li>
                    </ul>

                    <h3>Primeri</h3>

                    <p>Provera za adresu <em>Knez Mihailova 7</em>, za sutrašnji dan:</p>

                    <pre>http://danebudekasno.nikolaposa.in.rs/api/check?address[street]=Knez Mihailova&address[number]=7&day=1</pre>

                    <p>Primer potvrdnog odgovora:</p>
                    <pre>
{
    "result": {
      "street": "Knez Mihailova (Stari grad)",
      "number_ranges": [
        [5, 11],
        [18, 20]
      ],
      "day": "2015-12-18",
      "period": {
        "start": "2015-12-18T08:00:00+00:00",
        "end": "2015-12-18T10:00:00+00:00"
      },
      "more_info": "http:\/\/www.edb.rs\/Dan_1_Iskljucenja.htm"
    }
}</pre>

                    <p>Primer odgovora bez pronađenih rezultata:</p>
                    <pre>
{
    "result": false
}</pre>

                    <p>
                        U slučaju da ni <code>date</code> ni <code>day</code> nisu prosleđeni, provera će se vršiti
                        za sve dane za koje postoje informacije o planiranim isključenjima, a rezultat API poziva
                        (<code>result</code> polje) će biti niz pojedinačnih rezultata.
                    </p>
                </div>
            </div>
        </div>
    </section>

