
    <section id="check">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">Provera</h2>

                    <p>
                        Unesite adresu - naziv ulice i broj. Za preciznije rezultate, pored naziva ulice, u zagradi, unesite i naziv opštine.
                        Primer: <em>Knez Mihajlova (Stari Grad)</em>.
                    </p>

                    <div class="info-box alert alert-info">
                        <p>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            Ukoliko želite da budete obaveštavani o planiranom isključenju neke adrese jedan dan unapred putem email-a,
                            kliknite na <em>Obaveštavaj me</em>, unesite vašu email adresu, nakon čega će vam stići poruka za potvrdu.
                        </p>
                    </div>

                    <form role="form" data-actions='{"check":"<?=$this->url('apiCheck')?>", "subscribe":"<?=$this->url('apiSubscribe')?>"}'>
                        <section id="subform-check" class="row">
                            <div class="form-group col-md-5 col-sm-10 col-xs-10">
                                <label class="sr-only">Naziv ulice</label>
                                <input name="address[street]" type="text" class="form-control input-lg" placeholder="Naziv ulice" data-error-message="Unesite naziv ulice i broj">
                            </div>

                            <div class="form-group col-md-2 col-sm-2 col-xs-2">
                                <label class="sr-only">Broj</label>
                                <input name="address[number]" type="text" class="form-control input-lg" placeholder="Broj" data-error-message="Unesite naziv ulice i broj">
                            </div>

                            <div class="col-md-5 col-md-offset-0 col-sm-offset-4 col-xs-12 col-xs-offset-3">
                                <button type="submit" name="check" class="btn btn-primary" autocomplete="off">Proveri</button>
                                <a class="btn btn-link" data-toggle="collapse" href="#subform-subscribe" aria-expanded="false">Obaveštavaj me</a>
                            </div>
                        </section>

                        <section id="subform-subscribe" class="row collapse">
                            <div class="form-group col-md-5 col-sm-8 col-xs-8">
                                <label class="sr-only">Email adresa</label>
                                <input name="contact[value]" type="text" class="form-control input-lg" placeholder="Email adresa" data-error-message="Unesite email adresu" data-error-message-email="Uneta email adresa nije validna">
                                <input name="contact[type]" type="hidden" value="email">
                            </div>

                            <div class="col-xs-4">
                                <button type="submit" name="subscribe" class="btn btn-success" autocomplete="off">Pošalji</button>
                            </div>
                        </section>
                    </form>

                    <div role="result"></div>
                </div>
            </div>
            <hr>
        </div>
    </section>
