
    <section id="contact">
        <div class="container">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="title">Pitanja, sugestije, primedbe</h2>
				<br>
				<form role="form" action="<?=$this->url('contact')?>" method="post" enctype="plain">
				  <div class="form-group">
				    <label for="name1">Vaše ime</label>
                    <input type="text" name="name" class="form-control" required="required">
				  </div>
				  <div class="form-group">
				    <label for="email1">Email adresa</label>
				    <input type="email" name="email" class="form-control" required="required">
				  </div>
				  <div class="form-group">
				  	<label>Poruka</label>
				  	<textarea class="form-control" name="message" rows="3" required="required"></textarea>
				  </div>
				  <button type="submit" class="btn btn-primary">Pošalji</button>
				</form>
                <div role="result"></div>
			</div>
		</div>
    </section>

