<?php $this->layout('layout::default'); ?>

    <div id="intro">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-md-12">
					<h2 class="title">Da ne bude kasno</h2>
                    <p class="desc">Proverite da li se vaša adresa stanovanja nalazi na listi planiranih isključenja električne energije</p>
	    		</div>
	    	</div>
	    </div>
	</div>

    <?php $this->insert('app::check'); ?>

    <?php $this->insert('app::about'); ?>

    <?php $this->insert('app::contact'); ?>
