
body {
    background: #f5f5f5 none repeat scroll 0 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    color: #444444;
    padding-top: 50px;
    position: relative;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans";
    font-weight: 300;
    color: #074f66;
}

p {
    line-height: 28px;
    margin-bottom: 10px;
}

.centered {
    text-align: center;
}

a {
    color: #12b3e8;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #0e98c5;
    outline: 0;
}

ul li {
    margin-bottom: 5px;
}

pre {
    background-color: #ecf0f1;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #7b8a8b;
    font-size: 14px;
}

.btn {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 20px;
}

.btn:hover, .btn:focus, a.btn:focus {
    color: #fff;
}

.btn-primary {
    background: #074f66;
    border: 1px solid #074f66;

}

.btn-primary:hover {
    background: #053c4e;
    border: 1px solid #053c4e;
}

.btn-link {
    color: #12b3e8;
    padding: 8px 10px;
}
.btn-link:hover, .btn-link:focus, a.btn-link:focus  {
    color: #12b3e8;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-family: "Merriweather Sans",sans-serif;
    font-weight: normal;
    color: #0191c8;
    padding: 8px 15px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #0191c8;
    text-decoration: none;
}

.navbar-brand > img {
    display: inline;
    width: 35px;
    height: 35px;
}

.navbar-brand > h1 {
    display: inline;
    font-size: 18px;
    font-weight: 700;
    color: #0191c8;
    margin: 0;
}

.navbar .nav .nav-item {
    margin-right: 30px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: normal;
}

.navbar .nav .nav-item:last {
    margin-right: 0;
}

.navbar .nav .nav-item a {
    color: #666666;
    transition: none 0s ease 0s ;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.navbar .nav .nav-item a:hover {
    color: #074f66;
    background: none;
}

.navbar .nav .nav-item a:focus {
    outline: none;
    background: none;
}

.navbar .nav .nav-item a:active {
    outline: none;
    background: none;
}

.navbar .nav .nav-item.active a {
    color: #0191c8;
    background: none;
}

.navbar button {
    background: #074f66;
    color: #fff !important;
}

.navbar button:focus {
    outline: none;
}

.navbar button .icon-bar {
    background-color: #fff;
}

.title {
    text-align: center;
}

.info-box {
    font-size: 15px;
}

#intro {
	background: #12b3e8 none repeat scroll 0 0;
    color: #fff;
	padding-top: 10px;
    border-bottom: #0c86ae solid 5px;
}

#intro h2 {
	margin-top: 30px;
	color: #074f66;
	font-size: 50px;
    font-weight: 700;
}

#intro h3 {
	color: #074f66;
	font-size: 30px;
}

#intro .desc {
    font-size: 28px;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#intro a {
    color: #074f66;
}

#intro a:hover, a:focus {
    color: #053c4e;
}

#check h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

#check form section {
    margin-bottom: 10px;
}

#check form .form-group {
    padding-right: 0px;
}

.docs {
    padding: 50px 0;
}
.docs .title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #074f66;
}
.docs .sub-title {
    margin-top: 30px;
}
.docs .docs-inner {
    background: #fff;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#contact {
	background: #12b3e8 none repeat scroll 0 0;
	color: #074f66;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#contact form {
    margin-bottom: 10px;
}

.footer {
	background: #042a36 none repeat scroll 0 0;
    color: #fff;
	padding-top: 15px;
	text-align: right;
}

.footer .copyright {
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
}
