<?php $this->layout('notification::email/layout', ['title' => $fullTitle]); ?>

    <tr>
        <td class="content-block" style="vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
            Da biste potvrdili prijavu za dobijanje obaveštenja o planiram isključenjima električne energije za adresu:
            <span style="font-weight: bold"><?=$this->e($address)?></span>, kliknite na link u nastavku poruke.
        </td>
    </tr>
    <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler" style="text-align: center; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
            <a href="<?=$confirmationUrl?>" class="btn-primary" itemprop="url" style="color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #348eda; margin: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">Potvrda prijave</a>
        </td>
    </tr>
