<?php $this->layout('notification::email/layout', ['title' => $fullTitle]); ?>

    <tr>
        <td class="alert alert-warning" style="vertical-align: top; color: #fff; font-weight: 500; text-align: center; border-radius: 3px 3px 0 0; background-color: #FF9F00; margin: 0; padding: 20px;" align="center" bgcolor="#FF9F00" valign="top">
            Vaša adresa se nalazi na listi planiranih isključenja električne energije
        </td>
    </tr>

    <tr>
        <td class="content-block" style="vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
            Adresa: <strong><?=$this->e($address)?></strong> <br>
            Dan: <strong><?=$this->e($day)?></strong> <br>
            Period: <strong><?=$this->e($period)?></strong> <br>
            Više informacija: <a href="<?=$scheduleUrl?>"><?=$scheduleUrl?></a>
        </td>
    </tr>

    <?php if ($unsubscribeUrl) : ?>
    <tr>
        <td class="content-block" style="vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
            Ukoliko više ne želite da primate obaveštenja, odjavite se klikom na sledeći link: <a href="<?=$unsubscribeUrl?>"><?=$unsubscribeUrl?></a>.
        </td>
    </tr>
    <?php endif; ?>
