<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Da ne bude kasno | Informacije o planiranim isključenjima električne energije</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic,latin-ext" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700&subset=latin,cyrillic,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="<?=$this->asset('/plugins/bootstrap/css/bootstrap.min.css')?>"/>
    <link rel="stylesheet" type="text/css" href="<?=$this->asset('/css/style.css')?>"/>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1>Ups!</h1>
                    <p><?=$this->e($error)?></p>
                    <?php if ($status == 404) : ?>
                        <p>
                            Stranica koju ste zahtevali ne postoji.
                        </p>
                    <?php elseif (isset($exception)) : ?>
                        <pre><code><?=var_dump($exception)?></code></pre>
                    <?php endif; ?>
                    <p><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Početna stranica</a></p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
