<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Da ne bude kasno | Informacije o planiranim isključenjima električne energije</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700&subset=latin,cyrillic,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset('/plugins/bootstrap/css/bootstrap.min.css'); ?>"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset('/css/style.min.css'); ?>"/>

    <link rel="icon" href="/favicon.ico">
</head>

<body data-spy="scroll" data-target="#navigation" data-offset="50">
    <div id="navigation" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="" src="<?php echo $this->asset('/img/dnbk_brand.png'); ?>">
                    <h1>Da ne bude kasno</h1>
                </a>
	        </div>
	        <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a href="#intro">Početak</a></li>
                    <li class="nav-item"><a href="#check">Provera</a></li>
                    <li class="nav-item"><a href="#about">O servisu</a></li>
                    <li class="nav-item"><a href="#contact">Kontakt</a></li>
	          </ul>
            </div>
        </div>
    </div>

    <?php echo $this->section('content'); ?>

    <footer class="footer">
        <div class="container">
			<p class="copyright">
                &copy; 2015 | Da ne bude kasno <br>
            </p>
		</div>
    </footer>

    <script src="<?php echo $this->asset('/plugins/jquery.min.js'); ?>"></script>
    <script src="<?php echo $this->asset('/plugins/underscore-min.js'); ?>"></script>
    <script src="<?php echo $this->asset('/plugins/bootstrap/js/bootstrap.min.js'); ?>"></script>
    <script src="<?php echo $this->asset('/plugins/bootstrap3-typeahead.min.js'); ?>"></script>
    <script src="<?php echo $this->asset('/js/app.min.js'); ?>"></script>
    <script>
        $('#navigation a').click(function() {
            var $target = $($.attr(this, 'href'));
            $('html, body').animate({
                scrollTop: $target.length > 0 ? ($target.offset().top - 30) : 0
            }, 500);
            return false;
        });
    </script>
</body>

</html>
